---
const pageTitle = "Atomic Bible";
import '../styles/reset.css';
import '../styles/index.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>{pageTitle}</h1>
		<a href="/">{pageTitle}</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
	</body>
</html>
